@model Project2BurgerMenu.Entities.Admin
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <div class="alert alert-info">burger admin yeni kayıt sayfası</div>
    <form method="post">
        <label>kullanıcı adınız</label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        <br />
        <label>email adresi</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        <br />
        <label>adınız</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <label>soyadınız</label>
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        <br />
        <label>şifreniz</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">kayıt ol</button>

    </form>
</div>