
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead","Default")
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Html.Action("PartialNavBar", "Default")

    @Html.Action("PartialAbout", "Default")
    <!-- END section -->

    @Html.Action("TodaysOffer", "Default")
    <!-- END section -->
    @Html.Action("PartialMenu", "Default")
    <!-- END section -->
    <!-- END section -->
    @Html.Action("PartialGallery", "Default")
    <!-- END section -->
    <section class="site-section bg-light" id="section-contact">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center mb-5 site-animate">
                    <h2 class="display-4">Bizimle İletişime Geçin</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 mb-5 site-animate">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="name" name="Name" placeholder="Adınız">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="email" name="Email" placeholder="Email Adresiniz">
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Message</label>
                            <textarea name="MessageDetail" id="message" cols="30" rows="10" class="form-control" placeholder="Mesajınız"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Gönder">
                        </div>
                    </form>
                </div>
                @Html.Action("PartialContact", "Default")

            </div>
        </div>
    </section>

    @Html.Action("PartialLocation", "Default")
    <!-- END section -->
    @Html.Action("PartialFooter", "Default")





    <!-- Modal -->
    @Html.Action("PartialReservation", "Default")
    <!-- END Modal -->
    <!-- loader -->
    @Html.Action("PartialScripts", "Default")



</body>
</html>